
:root {
  --primary-50: theme('colors.blue.50');
  --primary-100: theme('colors.blue.100');
  --primary-200: theme('colors.blue.200');
  --primary-300: theme('colors.blue.300');
  --primary-400: theme('colors.blue.400');
  --primary-500: theme('colors.blue.500');
  --primary-600: theme('colors.blue.600');
  --primary-700: theme('colors.blue.700');
  --primary-800: theme('colors.blue.800');
  --primary-900: theme('colors.blue.900');
  --primary-950: theme('colors.blue.950');
  --surface-0: theme('colors.white');
  --surface-50: theme('colors.slate.50');
  --surface-100: theme('colors.slate.100');
  --surface-200: theme('colors.slate.200');
  --surface-300: theme('colors.slate.300');
  --surface-400: theme('colors.slate.400');
  --surface-500: theme('colors.slate.500');
  --surface-600: theme('colors.slate.600');
  --surface-700: theme('colors.slate.700');
  --surface-800: theme('colors.slate.800');
  --surface-900: theme('colors.slate.900');
  --surface-950: theme('colors.slate.950');

  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;
}
.dark {
  --primary: var(--primary-400);
  --primary-inverse: var(--surface-900);
  --primary-hover: var(--primary-300);
  --primary-active-color: var(--primary-300);

  --primary-highlight-opacity: 0.2;
  --primary-highlight-inverse: var(--surface-0);
  --primary-highlight-hover-opacity: 0.3;
}

:root {
  --at-apply: subpixel-antialiased;
  --at-apply: bg-slate-800 text-white;
}

#app {
  --at-apply: flex h-dvh w-dvw place-items-center justify-center;
}

code {
  --at-apply: rounded bg-gray-900/80 px-2 py-1 font-mono;
}
